*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  margin: 4.5rem 0;
}

section{
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
}

section img{
  border-radius: 40px;
  width: 80px;
  margin-bottom: 24px;
}

section h3{
  color: #ffffff;
  font-size: 1.5rem;
}

section h5{
  color: #008000;
  margin: 4px 0px 24px 0px;
}

section p{
  color: #ffffff88;
}

section div{
  width: 100%;
}

section div button{
  display: block;
  width: 100%;
  margin-top: 20px;
  height: 40px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 8px;
  border: none  ;
  background-color: #333333;
  cursor: pointer;
  transition: all 0.15s;
}

section div button:hover{
  background: #008000;
  color: #1f1f1f;
}